body {
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
}

.header {
    background-color: #333;
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 40px;
    margin-bottom: 100px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.grid {
    max-width: 702px;
    max-height: 702px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    border: 1px solid black;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.side-panel {
    display: flex;
    flex-direction: column;
}

.slider {
    width: 200px;
    margin-bottom: 10px;
}

.slider-value {
    font-size: 22px;
    margin-bottom: 60px;
    margin-top: 10px;
}

.eraser, .clearer, .input-mode-button {
    font-size: 22px;
    margin-bottom: 35px;
    padding: 5px 10px;
}